<div class="card-container">
  <div *ngFor="let serie of series" style="width: 300px; height: 200px; padding: 1em">
    <mat-card (click)="onSerieClick(serie)" style="cursor: pointer; background-color: #ebebeb94">
      <div style="display: flex; justify-content: space-between">
        <div>
          <p>{{ serie.nombre }}</p>
        </div>

      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <div style="width: 200px; height: 130px; position: relative; overflow: hidden;">
          <img mat-card-image [src]="serie.imagen.rutapath" alt="Photo of a Shiba Inu" class="imagen">
        </div>
      </div>
    </mat-card>
  </div>
</div>

